*{
  margin: 0;
  padding: 0;
  font-size: 0;
}
a{
  text-decoration: none;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #111;
}
.Bigimg{
  /* background-color: skyblue; */
  width: 100%;
  height: 593px;
  background-image: url("../images/Bigimg.jpg");
}
.Bigimg img{
  /* position: absolute;
  top: 0; */
  z-index: -9;
}
.Bigimg .Bigimg-box{
  height: 245px;
  /* background-color: green; */
  max-width: 1320px;
  margin: auto;
  padding-top: 144px;
  padding-bottom: 152px;
  z-index: 9;
}
.Bigimg .Bigimg-box2{
  width: 66.6666666667%;
  height: 261px;
  margin: auto;
  /* background-color: grey; */
}
.Bigimg .Bigimg-box2 .uns{
  font-weight: 700;
  font-size: 46px;
  line-height: 1.2;
  color: #fff;
}
.Bigimg .Bigimg-box2 h1{
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: 400;
  height: 28px;
  font-size: 18px;
  color: #fff;
}
.Bigimg .Bigimg-box2 p{
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.Bigimg .Bigimg-box2 .search{
  width: 100%;
  border-radius: 4px;
  height: 54px;
  background-color: #fff;
  position: relative;
  margin-bottom: 16px;
}
.Bigimg .Bigimg-box2 .search button{
  width: 34px;
  border: none;
  background-color: #fff;
  border-radius: 4px;
}
.Bigimg .Bigimg-box2 .search button svg{
  width: 20px;
  height: 20px;
  padding-left: 14px;
  padding-top: 14px;
  fill: #767676;
}
.Bigimg .Bigimg-box2 .search .inp{
  padding-left: 14px;
  height: 54px;
  border: none;
  display: inline-block;
  width: 90%;
}
.Bigimg .Bigimg-box2 .search input{
  height: 49px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}
.Bigimg .Bigimg-box2 .font span{
  font-size: 14px;
  color: #fff;
}
.Bigimg .Bigimg-box3{
width: 100% ;
  height: 20px;
  display: flex;
  padding-bottom: 16px;
  padding-top: 16px;
}
.Bigimg .Bigimg-box3 .Bigimg-box3-f{
  flex: 1;
  padding-left: 12px;
  font-size: 13px;
  color: #ada4a4;
}
.Bigimg .Bigimg-box3 .Bigimg-box3-f span,
.Bigimg .Bigimg-box3 .Bigimg-box3-f a{
  font-size: 13px;
  color: #fff;
}
.Bigimg .Bigimg-box3 .Bigimg-box3-s{
  flex: 1;
  font-size: 13px;
  color: #ada4a4;
}
.Bigimg .Bigimg-box3 .Bigimg-box3-s span,
.Bigimg .Bigimg-box3 .Bigimg-box3-s a{
  font-size: 13px;
  color: #fff;
}
.Bigimg .Bigimg-box3 .Bigimg-box3-t{
  flex: 1;
  padding-right: 12px;
  font-size: 13px;
  color: #ada4a4;
}
.Bigimg .Bigimg-box3 .Bigimg-box3-t span,
.Bigimg .Bigimg-box3 .Bigimg-box3-t a{
  font-size: 13px;
  color: #fff;
}
.box2{
  max-width: 1295px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 40px;
}
.box2-f{
  flex: 1;
  /* background-color: skyblue; */
  margin-right: 12px;
}
.box2-f img{
  width: 100%;
}
.box2-s{
  flex: 1;
  /* background-color: green; */
  margin-left: 12px;
  margin-right: 12px;

}
.box2-s img{
  width: 100%;
}
.box2-t{
  flex: 1;
  /* background-color: grey; */
  margin-left: 12px;
}
.box2-t img{
  width: 100%;
}
.top{
  margin-top: 20px; 
}
.box2 img{
  cursor: zoom-in;
}